.vscode
venv

!.gitkeep
*.json
*.zip

*.ipynb
!0-Calculate\ vacancies\ in\ USP.ipynb

data/5_content/*

data/**/redacoes/**/*
!data/3_processed/redacoes/**/*
!data/4_final/redacoes/**/*

website/*
!website/index.html
!website/style.css
!website/img
