{% extends "base.html.jinja" %}

{#
Depends on the variables

course_name:
  name of the course being rendered
latest_metrics_plotly_div:
  Plotly string from latest metric table
metric_evolution_plotly_div
  Plotly string from metric evolution chart
grade_dict:
  Dictionary containing raw data in tables
  whose keys are the exam year and whose
  content are dictionaries containing
  quota-Plotly div pairs
#}

{% macro center(min_width='500px') %}
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-6 scroll-x">
      <div style="min-width: {{ min_width }};">
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}

{% block title %}{{ course_name }} - Manual do Vestibulando{% endblock title %}
{% block content %}

<main class="container-fluid">
  <h1 class="display-1 text-center">{{ course_name }} </h1>
  {% call center() %}
    {{ latest_metrics_plotly_div }}
  {% endcall %}
  {% call center() %}
    {{ metric_evolution_plotly_div }}
  {% endcall %}
</main>

<h1 class="mt-5 text-center">Tabelas de Notas</h1>
<nav class="row">
  <div class="btn-group" role="group">
    {% for year in grade_dict.keys() | sort() %}
      <button
          type="button"
          class="btn {{ 'btn-primary' if loop.last else 'btn-outline-primary' -}}"
          data-bs-toggle="collapse"
          data-bs-target="#table{{- year -}}"
          aria-expanded="{{- 'true' if loop.last else 'false' -}}"
          aria-controls="{{- year -}}">
        {{- year -}}
      </button>
    {% endfor %}
  </div>
</nav>

{% for year, year_dict in grade_dict | dictsort() %}
  <section id="table{{- year -}}"
      class="collapse {{ 'show' if loop.last -}}">
    <h1 class="my-2">{{- year -}}</h1>
    {% for quota, plotly_table_div in year_dict | dictsort %}
      <h2 class="mt-2">{{ quota }}</h2>
      {% call center() %}
        {{ plotly_table_div|safe }}
      {% endcall %}
    {% endfor %}
  </section>
{% endfor %}

{% endblock content %}
