{% extends "base.html.jinja" %}

{#
Depends on the variables

course_name:
  Name of the course being rendered
latest_metrics_plotly_div:
  Plotly string from latest metric table
metric_evolution_plotly_div
  Plotly string from metric evolution chart
grade_dict:
  Dictionary containing raw data in tables
  whose keys are the exam year and whose
  content are dictionaries containing
  quota-Plotly div pairs
#}

{# min_width was determined empirically #}
{% macro center(min_width='900px') %}
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-8 scroll-x">
      <div style="min-width: {{ min_width }};">
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro table_title(title) %}
  <h2 class="mt-2 text-center">{{- title -}}<h2>
{% endmacro %}

{% block title %}{{ course_name }} - Manual do Vestibulando{% endblock title %}
{% block content %}

<main>
  {{ main_heading(course_name) }}
  {{ table_title('Valores das notas mais recentes') }}
  {# height was determined empirically #}
  {% call center() %}
    {{ latest_metrics_plotly_div }}
  {% endcall %}

  {{ table_title('Evolução dos valores com o passar dos anos') }}
  {% call center() %}
    {{ metric_evolution_plotly_div }}
  {% endcall %}
</main>

<h1 class="mt-5 text-center">Tabelas de Notas</h1>
  <div class="accordion" id="accordion">
    {% for year, year_dict in grade_dict | dictsort() %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{- year -}}">
          <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#essay{{- year -}}"
                  aria-expanded="{{- 'true' if loop.last else 'false' -}}"
                  aria-controls="{{- year -}}">
              {{- year -}}
          </button>
        </h2>
        <div
            id="essay{{- year -}}"
            class="accordion-collapse collapse {{ 'show' if loop.last -}}"
            aria-labelledby="heading{{- year -}}"
            data-bs-parent="#accordion">

          <div class="accordion-body">
            {% for quota, plotly_table_div in year_dict | dictsort %}
              {{ table_title(quota) }}
              {# min_width was determined empirically #}
              {% call center(min_width='1300px') %}
                {{ plotly_table_div|safe }}
              {% endcall %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
