{% extends 'base.html.jinja' %}
{% block title %}Redações{% endblock %}

{#
Depends on the variables

years_dict:
    Dictionary containing essay information
    whose keys are the exam year and whose
    content are dictionaries containing
    score-metadata pairs
exam:
    Name of the exam
criteria:
    Enem criteria to represent, in order
#}

{% block content %}
    <div class="accordion" id="accordion">
        {% for year, essays_dict in years_dict | dictsort() %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{- year -}}">
                    <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#essay{{- year -}}"
                            aria-expanded="{{- 'true' if loop.last else 'false' -}}"
                            aria-controls="{{- year -}}">
                        {{- year -}}
                    </button>
                </h2>
                <div
                        id="essay{{- year -}}"
                        class="accordion-collapse collapse {{ 'show' if loop.last -}}"
                        aria-labelledby="heading{{- year -}}"
                        data-bs-parent="#accordion">

                    <div class="accordion-body">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                            {% for key, essay_dict in essays_dict | dictsort(reverse=True) %}
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title fw-bold">{{ essay_dict['nota'] }}</h5>
                                            {% if criteria %}
                                                <p>
                                                    {% for criterium in criteria %}
                                                        <span class="badge bg-primary">{{ essay_dict[criterium] }}</span>
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                            <a href="{{- essay_dict['url'] -}}" class="btn btn-outline-primary">Veja a redação</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
