{% extends "base.html.jinja" %}

{#
Depends on the variables

course_name:
  Name of the course being rendered
render_fuvest:
    Whether or not render the Fuvest card
fuvest_url:
    Path to the Fuvest results webpage
render_enem:
    Whether or not render the Enem card
enem_url:
    Path to the Enem results webpage
root_path:
    Relative path to the root of the repository
#}

{% macro exam(name, url, image_path) %}
    <div class="row mt-3 justify-content-center">
        <div class="col-4">
            <div class="card text-center">
                <img class="card-img-top"
                     src="{{- image_path -}}"
                     alt="Logo do vestibular {{ name }}">
                <div class="card-body">
                    <h3 class="card-title">{{ name }}</h3>
                    <nav>
                        <a class="btn btn-primary"
                            href="{{- url -}}">Acesse as notas
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block title-%}
    Vestibulares - {{ course_name }} - Manual do Vestibulando
{%- endblock title %}

{% block content %}
    {{ main_heading(course_name) }}
    {% if render_fuvest %}
        {{ exam('Fuvest', fuvest_url, root_path+'img/fuvest.png') }}
    {% endif %}
    {% if render_enem %}
        {{ exam('Enem', enem_url, root_path+'img/enem.png') }}
    {% endif %}
{% endblock content %}
